<ion-view view-title="Edit">
  <ion-content>
     <div class="list">
    	<label class="item item-input">
    		<span class="input-label">First Name:</span>
    		<input type="text" ng-model="fname">
    	</label>
    </div>
      <div class="list">
    	<label class="item item-input">
    		<span class="input-label">Last Name:</span>
    		<input type="text" ng-model="lname">
    	</label>
    </div>
      <div class="list">
    	<label class="item item-input">
    		<span class="input-label">Tel:</span>
    		<input type="text" ng-model="tel">
    	</label>
    </div>
      <div class="list">
    	<label class="item item-input">
    		<span class="input-label">Email:</span>
    		<input type="text" ng-model="email">
    	</label>
    </div>
    <input type="hidden" ng-model="id">
    <div>
    <button class="button button-block" ng-click="save(id,fname,lname,email,tel)">
    	Save
    </button>
    </div>
  </ion-content>
</ion-view>